body {
  margin: 0 auto;
  background-color: black;
  display: flex;
  flex-direction: column;

  font-family: "Avenir Next", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas {
  position: fixed;
  margin: 0 auto;
  width: 80vh;
  height: 80vh;
  border: .5vh dashed whitesmoke;
  border-radius: 1vh;
}

#snap {
  height: 5vh;
  background-color: burlywood;
  border: 2px solid burlywood;
  border-left: 2px solid darkgoldenrod;
  border-radius: 0 1vh 1vh 0;
  outline: none;
  z-index: 1;
}

#snap:hover {
  background-color: wheat;
  border: 2px solid wheat;
  border-left: 2px solid darkgoldenrod;
}

#snap img {
  height: 100%;
  color: #ffffff;
}

.controls {
  display: flex;
  align-items: center;
  border: 2px solid darkgoldenrod;
  background-color: antiquewhite;
  border-radius: 1vh;
  box-sizing:border-box;
}

.controls > *:not(*:last-child) {
  margin: 0 1vh;
}

select {
  height: 4.5vh;
  font-family: "Avenir Next", sans-serif;
}

aside {
  position: fixed;
  background-color: rgba(245, 222, 179, .85);

  bottom: 10vh;
  width: 20vw;
  padding: 2vh;

  border-radius: 1.5vw;
  border: 2px solid darkgoldenrod;
  opacity: 0;

  font-size: 2rem;
  text-align: center;
}

.fadeIn {
  animation: fadein 2s;
}

@keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100%   { opacity: 0; }
}
