body {
  margin: 0 auto;
  background-color: black;
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas {
  position: fixed;
  margin: 0 auto;
  width: 80vh;
  height: 80vh;
  border: .5vh dashed whitesmoke;
  border-radius: 1vh;
}

#snap {
  height: 5vh;
  background-color: burlywood;
  border: 2px solid darkgoldenrod;
  border-radius: 1vh;
  outline: none;
}

#snap:hover {
  background-color: wheat;
}

#snap img {
  height: 100%;
  color: #ffffff;
}

.controls {
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 1vh;
}

.controls > *:not(*:last-child) {
  margin: 0 1vh;
}

select {
  height: 4.5vh;
}